.sessao-planta {
    margin-top: 684px;
}

.sena-text {
    padding: 27px;
}

.plantas-sessoes {
    margin: 64px auto 0 auto;
}

.call p {
    padding-top: 16px;
}

.mastruz-text {
    padding: 6.4px 0;
}

.sabug-text {
    padding: 33px 0;
}

.esp-text {
    padding: 82px 0;
}

.arruda-text {
    padding: 61px 0;
}

.guine-text {
    padding: 71px 0;
}

.coca-text {
    padding: 14px 0;
}

.boldo-text {
    padding: 25px 0;
}

.funcho-text {
    padding: 19px 0;
}